@model IEnumerable<GharXpertWeb.Models.Dto.CustomerDTO>
<br />
<div class=" container p-4 border">
    <div class=" row pb-2">
        <div class="col">
            <h1 class="text-primary">Customer List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-contoller="Customer" asp-action="CreateCustomer" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Customer</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Customer Id
                    </th>
                    <th>
                        Customer Name
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Landline
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CustomerId</td>
                        <td>@item.CName</td>
                        <td>@item.Mobile</td>
                        <td>@item.Address</td>
                        <td>@item.City</td>
                        <td>@item.Email</td>
                        <td>@item.Landline</td>
                        <td>
                            <a asp-contoller="Customer" asp-action="UpdateCustomer" asp-route-customerId="@item.CustomerId" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                            <a asp-contoller="Customer" asp-action="DeleteCustomer" asp-route-customerId="@item.CustomerId" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
